<div class="col-sm-12 text-center">
 <h2 class="section-header">Popular This Week</h2>
</div>
<div class="feature-container">
  <div class="row">
    <div class="col-md-6 feature-box">
      <div class="feature-card">
          <img src="http://placehold.it/300/300" alt="" class="card-img">
          <div class="card-content">
            <div class="feature-rating">89%</div>
            <span class="episode-number">Episode #210</span><br><br>
            <span class="episode-blurb-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti pariatur odio nemo dicta possimus, amet voluptatem. Velit ullam dignissimos officiis optio beatae consequuntur.</span>
          </div>
      </div>
    </div>
    <div class="col-md-6 feature-box">
      <div class="feature-card">
          <img src="http://placehold.it/300/300" alt="" class="card-img">
          <div class="card-content">
            <div class="feature-rating">92%</div>
            <span class="episode-number">Episode #210</span><br><br>
            <span class="episode-blurb-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti pariatur odio nemo dicta possimus, amet voluptatem. Velit ullam dignissimos officiis optio beatae consequuntur.</span>
          </div>
      </div>
    </div>
    <div class="col-md-6 feature-box">
      <div class="feature-card">
          <img src="http://placehold.it/300/300" alt="" class="card-img">
          <div class="card-content">
            <div class="feature-rating">79%</div>
            <span class="episode-number">Episode #210</span><br><br>
            <span class="episode-blurb-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti pariatur odio nemo dicta possimus, amet voluptatem. Velit ullam dignissimos officiis optio beatae consequuntur.</span>
          </div>
      </div>
    </div>
    <div class="col-md-6 feature-box">
      <div class="feature-card">
          <img src="http://placehold.it/300/300" alt="" class="card-img">
          <div class="card-content">
            <div class="feature-rating">96%</div>
            <span class="episode-number">Episode #210</span><br><br>
            <span class="episode-blurb-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti pariatur odio nemo dicta possimus, amet voluptatem. Velit ullam dignissimos officiis optio beatae consequuntur.</span>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="col-sm-12 text-center">
 <h2 class="section-header">New Releases</h2>
</div>
<div class="title-container text-center">
  <div class="row">
    <div class="col-md-3 title-box">
      <div class="title-card">
      One of two columns
      </div>
    </div>
    <div class="col-md-3 title-box">
      <div class="title-card">
      One of two columns
      </div>
    </div>
    <div class="col-md-3 title-box">
      <div class="title-card">
      One of two columns
      </div>
    </div>
    <div class="col-md-3 title-box">
      <div class="title-card">
      One of two columns
      </div>
    </div>
    <div class="col-md-3 title-box">
      <div class="title-card">
      One of two columns
      </div>
    </div>
    <div class="col-md-3 title-box">
      <div class="title-card">
      One of two columns
      </div>
    </div>
    <div class="col-md-3 title-box">
      <div class="title-card">
      One of two columns
      </div>
    </div>
    <div class="col-md-3 title-box">
      <div class="title-card">
      One of two columns
      </div>
    </div>
  </div>
</div>
