@import "bootstrap-sprockets";
@import "bootstrap";


//
//
//
//
//  GENERAL
//
//
//
//

h2 {
  font-weight: 200;
}

input[type="text"] {
  border: 1px solid #D3DFE4;
  border-radius: 3px;
  margin-top: 6px;
  margin-bottom: 6px;
  padding: 6px;
}
input[type="text"]:focus {
  outline: none;
}

.glyphicon {
  font-size: 20px;
  margin: 8px 6px 8px 8px;
  position: relative;
  top: 5px;
  color: #E5EDF1;
}

//
//
//
//
//  TEXT
//
//
//
//

.section-header {
  margin-bottom: 40px;
}

//
//
//
//
//  HOMEPAGE
//
//
//
//

.episode-blurb-small {

}

.episode-head-container {
  max-width: 1000px;
  margin: 0 auto;
}

.episode-number-header {
  margin-bottom: 50px;
  color: darkgray;
  font-size: 16px;
}

.episode-head {
}

.episode-head-container {
  max-width: 1000px;
  margin: 0 auto 50px;
}

.episode-content {
  height: 430px;
}

.episode-img-container {
  height: 430px;
  overflow: hidden;
  padding: 0;
  text-align: center;
}

.episode-img {
  max-width: 430px;
}

.navbar-nav > li > a {
  padding-top: 20px;
}

.navbar-default {
  background-color: white;
  border-color: white;
  max-width: 1000px;
  margin: 20px auto 10px;
  padding: 20px;
}

.footer {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
}

.col-footer {
  padding: 0 25px;
}
.col-footer-logo {
  padding: 0 15px;
}

.title-container {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.title-box {
  padding: 20px;
}

.title-card {
  border: 1px solid #D3DFE4;
  border-radius: 6px;
  height: 300px;
  max-width: 200px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.title-card-content {
  padding: 10px 10px 10px 10px;
  height: 68px;
  overflow: hidden;
}

.title-card-image {
  margin: 0 auto;
}

.feature-container {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.feature-box {
  padding: 20px;
  overflow: hidden;
}

.feature-card {
  border: 1px solid #D3DFE4;
  border-radius: 6px;
  height: 200px;
  max-width: 450px;
  margin: 0 auto;
  overflow: hidden;
  clear: both;
  position: relative;
}

.feature-rating {
  background-color: #00B1FF;
  border-radius: 4px;
  color: white;
  width: 53px;
  height: 26px;
  position: absolute;
  right: 15px;
  top: 11px;
  line-height: 26px;
  text-align: center;
}

.card-img {
  max-width: 200px;
  float: left;
  max-height: 198px;
}

.title-card-img {
  max-width: 200px;
  margin-bottom: 10px;
}

.card-left {
  max-height: 198px;
  background-size: auto;
  margin: 0 auto;
}

.card-content {
  padding: 15px;
  overflow: hidden;
}

.episode-number {
  padding-bottom: 20px;
}

.col-footer li {
  padding: 0;
  margin: 6px 0;
}

.col-footer ul {
  list-style: none;
  padding-left: 0;
}

.episode-detail-rating {
  background-color: #00B1FF;
  border-radius: 4px;
  color: white;
  width: 53px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  display: inline-block;
}
.episode-date {
  display: inline-block;
}

.episode-name {
  font-weight: 400;
  margin-bottom: 20px;
}

.episode-guest {
  font-size: 18px;
  font-weight: 400;
}

//
//
//
//
//  EPISODE RATINGS
//
//
//
//

.user-img {
  width: 70px;
  border-radius: 50%;
}

.rating-user-details {
  width: 448px;
  overflow: hidden;
  padding: 20px 15px 20px 0;
}

.rating-card {
  border: 1px solid #D3DFE4;
  border-radius: 6px;
  padding-top: 10px;
  min-height: 200px;
  max-width: 450px;
  margin: 0 auto;
  clear: both;
  position: relative;
}

.rating-card-content {
  padding: 10px 16px;
  overflow: hidden;
  width: 100%;
}

.thumbs {
  position: absolute;
  right: 25px;
  bottom: 15px;
}

.glyphicon.glyphicon-thumbs-up {
    font-size: 35px;
    color:  #00B1FF;
}

.glyphicon.glyphicon-thumbs-down {
    font-size: 35px;
    color:  #E57878;
}

//
//
//
//
//  SIGN IN
//
//
//
//

.sign-up-container {
  max-width: 1000px;
  padding-right: 60px;
  margin: 0 auto;
}
.sign-up-notice {
  height: 450px;
  padding: 50px 0px 50px 50px;

}
.sign-up-notice-box {
  background-color: #D3DFE4;
  height: 100%;
  width: 100%;
}
.sign-up-form {
  height: 450px;
  border: 1px solid #D3DFE4;
}

/* Small devices (tablets, 768px and up) */

@media(max-width:767px){}
@media(max-width:991px){
  // .title-width-sm {
  //   max-width: 510px;
  //   margin: 0 auto;
  //   padding: 20px;
  // }
  .feature-card {
    padding: 0px;
  }
  .title-container {
    padding: 20px;
    max-width: 510px;
    margin: 0 auto;
  }
}
@media(min-width:992px){}
@media(min-width:1200px){}
