@import "bootstrap-sprockets";
@import "bootstrap";

h2 {
  font-weight: 200;
}

input[type="text"] {
  border: 1px solid #D3DFE4;
  border-radius: 3px;
  margin-top: 6px;
  margin-bottom: 6px;
}
input[type="text"]:focus {
  outline: none;
}

.section-header {
  margin-bottom: 40px;
}

.episode-blurb-small {

}

.navbar-nav > li > a {
  padding-top: 20px;
}

.navbar-default {
  background-color: white;
  border-color: white;
  max-width: 1000px;
  margin: 20px auto 10px;
  padding: 20px;
}

.footer {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
}

.col-footer {
  padding: 0 25px;
}

.title-container {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.title-box {
  padding: 20px;
}

.title-card {
  border: 1px solid #D3DFE4;
  border-radius: 6px;
  height: 300px;
  max-width: 200px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.title-card-content {
  padding: 10px 10px 10px 10px;
  height: 68px;
  overflow: hidden;
}

.title-card-image {
  margin: 0 auto;
}

.feature-container {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.feature-box {
  padding: 20px;
  overflow: hidden;
}

.feature-card {
  border: 1px solid #D3DFE4;
  border-radius: 6px;
  height: 200px;
  max-width: 450px;
  margin: 0 auto;
  overflow: hidden;
  clear: both;
  position: relative;
}

.feature-rating {
  background-color: #00B1FF;
  border-radius: 4px;
  color: white;
  width: 53px;
  height: 26px;
  position: absolute;
  right: 15px;
  top: 11px;
  line-height: 26px;
  text-align: center;
}

.card-img {
  max-width: 200px;
  float: left;
  max-height: 198px;
}

.title-card-img {
  max-width: 200px;
  margin-bottom: 10px;
}

.card-left {
  max-height: 198px;
  background-size: auto;
  margin: 0 auto;
}

.card-content {
  padding: 15px;
  overflow: hidden;
}

.episode-number {
  padding-bottom: 20px;
}

.col-footer li {
  padding: 0;
  margin: 6px 0;
}

.col-footer ul {
  list-style: none;
  padding-left: 0;
}
